body {
    margin: 0;
    background-color: #14253d;
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.superCont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 94%;
    justify-content: center;
    align-items: center;
}

.central1 {
    background-color: #1a2432;
    width: 20%;
    height: 78%;
    border-radius: 12px 12px 25px 25px;
    display: flex;
    justify-content: center;
}

.central2 {
    background-color: #1B335A;
    border-radius: 12px;
    width: 95%;
    height: 95%;
    justify-content: center;
}

.cardTop {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    justify-content: center;
    align-items: center;
}

/* created this div so that my nft image would stop being stuck at the top of the div.
justify & align properties wouldn't work & it was the quickest way i could fix this issue. */
.voidFill {
    border-radius: 8px 8px 0 0;
}

.nftWrap {
    width: 87%;
}

.nft {
    border-radius: 8px;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    justify-self: center;
    align-self: center;
}

.cardBody {
    width: 100%;
    height: 19%;
}

h3 {
    color: white;
    padding-left: 5px;
    margin: 0 9px 9px 9px;
}

p {
    color: #8bacda;
    margin: 9px;
    padding-left: 5px;
}

.cardBodyBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
}

.ethicon {
    max-height: 20px;
    align-self: center;
    padding-left: 25px;
}

.ethcount {
    color: #50fff6;
    margin-top: 9px;
    padding: 0;
}

.clock {
    max-height: 20px;
    align-self: center;
    padding-left: 50px;
}

.timecount{
    color: #8bacda;
    margin-top: 9px;
    padding: 0;
}

.cardLine {
    width: 85%;
    height: 0.3px;
    background-color: #617188;
    margin-left: 7.5%;
}

.cardBottom {
    width: 100%;
    height: 15%;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.profilePic {
    display: flex;
    width: 20%;
    padding: 10px;
    align-items: center;
}

.PP {
    max-width: 57%;
    max-height: 63%;
    border: solid white 2px;
    border-radius: 50%;
}

.remainFooter {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.footer1{
    color: #8bacda;
    padding: 0;
    margin: 0;
}

.footer2 {
    color: white;
    padding: 0;
    margin-left: 3px;
}

.attribution {
    height: 6%;
    width: 100%;
    text-align: center;
    color: white;
}

.attribution a {
    color: #91cff8;
}

/* mobile design */
@media all and (max-device-width: 400px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .superCont {
        height: 100%;
        width: 100%;
    }
    
    .central1 {
        height: 70%;
        width: 90%;
    }

    .nft {
        min-width: none;
    }
}
